*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #e9e9f1;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
}
.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
}
.eye_line{
    position: absolute;
    height: 59px;
    top: 10px;
    left: 0px;
    width: 155px;
    border-top: 2px solid;
    border-radius: 50%;
    box-shadow: -1px -24px 34px 0px #939393, insert 0px 4px 5px -1px #221f1f;
    transform: rotate(359deg);
}
.eye{
    position: relative;
    height: 100px;
    width: 100px;
    left: 30px;
    top: 10px;
    border-radius: 13% 87% 14% 86% / 16% 71% 29% 84%;
    border: 1px solid black;
    box-shadow: inset 1px 0px 9px 0px #000, 1px 2px 39px 6px #262626, 1px -1px 3px;
    transform: rotate(318deg);
}
.eyelid{
    position: absolute;
    height: 25px;
    width: 27px;
    border-radius: 50%;
    border-top: 2px solid;
}
.eyelid:nth-child(1){
    top: -25px;
    left: 3px;
    transform: rotate(220deg);
}
.eyelid:nth-child(2){
    top: -6px;
    left: 28px;
    transform: rotate(90deg);
}
.eyelid:nth-child(3){
    top: -22px;
    left: 18px;
    transform: rotate(234deg);
}
.eyelid:nth-child(4){
    top: -19px;
    left: 32px;
    transform: rotate(230deg);
}
.eyelid:nth-child(5){
    top: 4px;
    left: 60px;
    transform: rotate(97deg);
}
.eyelid:nth-child(6){
    top: 14px;
    left: 82px;
    transform: rotate(190deg);
}
.eyelid:nth-child(7){
    top: -6px;
    left: 42px;
    transform: rotate(97deg);
}
.eyelid:nth-child(8){
    top: 27px;
    left: 90px;
    transform: rotate(175deg);
}
.eyelid:nth-child(9){
    top: 41px;
    left: 96px;
    transform: rotate(204deg);
}
.eyelid:nth-child(10){
    top: 58px;
    left: 98px;
    transform: rotate(221deg);
}
.eyelid:nth-child(11){
    top: 66px;
    left: 97px;
    transform: rotate(221deg);
}
.eye_ball{
    position: absolute;
    left: 10px;
    top: 9px;
    display: block;
    height: 74px;
    width: 75px;
    border-radius: 50%;
    box-shadow: inset -2px 3px 8px 4px #0c0c0c, inset -7px 11px 37px 1px #878787;
    border: 1px solid black;
}
.eye_ball::before{
    content: " ";
    position: absolute;
    top: 22px;
    left: 33px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: inset 4px 2px 0px 7px #181818, inset 7px 2px 2px 3px black;
    border: 1px solid black;
}
.eye_ball::after{
    content: " ";
    position: absolute;
    top: 6px;
    left: 32px;
    height: 10px;
    width: 11px;
    transform: rotate(45deg);
    border-radius: 2px;
    background: white;
    box-shadow: 11px 0px 0px 0px #fdfdfd;
}
.lines{
    position: absolute;
    height: 12px;
    width: 2px;
    opacity: 0.5;
    background: #555454;
    box-shadow: 5px 1px 5px 1px #5e5e5e, -5px 1px 5px 1px #5e5e5e;
}
.lines:nth-child(1){
    top: 38px;
    left: 30px;
    transform: rotate(45deg);
}
.lines:nth-child(2){
    top: 42px;
    left: 49px;
    transform: rotate(326deg);
}
.lines:nth-child(3){
    top: 28px;
    left: 61px;
    transform: rotate(276deg);
}
.lines:nth-child(4){
    top: 23px;
    left: 26px;
    transform: rotate(301deg);
}
.lines:nth-child(5){
    top: 12px;
    left: 33px;
    transform: rotate(330deg);
}
.lines:nth-child(6){
    top: 59px;
    left: 36px;
    transform: rotate(359deg);
}
.lines:nth-child(7){
    top: 57px;
    left: 23px;
    transform: rotate(31deg);
}
.lines:nth-child(8){
    top: 50px;
    left: 14px;
    transform: rotate(57deg);
}
.lines:nth-child(9){
    top: 39px;
    left: 7px;
    transform: rotate(70deg);
}
.lines:nth-child(10){
    top: 26px;
    left: 5px;
    transform: rotate(103deg);
}
.lines:nth-child(11){
    top: 17px;
    left: 10px;
    transform: rotate(127deg);
}
.lines:nth-child(12){
    top: 9px;
    left: 17px;
    transform: rotate(146deg);
}
.lines:nth-child(13){
    top: 58px;
    left: 48px;
    transform: rotate(171deg);
}
.lines:nth-child(14){
    top: 55px;
    left: 56px;
    transform: rotate(155deg);
}